doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../style/main.css')
  body.overflow-x-hidden
    .px4.pt4
      
      h2.m0(style="opacity:.3;") I use Codepen every day and I love it
      h2.mt0.mb4 So why I redesigned it?

      div(style="max-width:500px;")
        h3.my1 Space optimization
        p Thick borders on code panels take unnecessary space. Also the footer bar takes vertical space which is crucial on my 13 inch laptop.

        h3.my1 Less frequently used tools
        p There are a lot of buttons that I use only few times while I'm coding. Code panel options like "Tidy" are now visible only when hovering on the panel title.
        
        h3.my1 Managing settings
        p Easier way to manage code panels and layout settings with radio style buttons. Settings are now in a side panel instead of a modal.
    
    .mt3
      img(src="images/shot.png")
      img(src="images/shot2.png")
